/* Basic styles for desktop */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 100px;
    position: absolute;
    width: -webkit-fill-available;
    z-index: 9999;
}

.navlinks img {
    width: 150px;
}
.nav-menu {
    display: flex;
    gap: 20px;
}

.nav-menu li {
    list-style: none;
}

.nav-menu li a {
    text-decoration: none;
    padding: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 16px;
}

.navbar-btn .contact-btn {
    background-color: #007bff; 
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* Mobile styles */
.mobile-menu-toggle {
    display: none;
}
.mobile-menu-close {
    display: none;
    z-index: 99999;
}

@media (max-width: 1050px) {
    .navbar {
        padding: 15px;
    }

    .nav-menu {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: #080918; 
        padding: 20px 0;
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 0;
        right: -1000px;
        animation: shownavbar 0.4s forwards linear;
    }

    @keyframes shownavbar {
        from {right: -500px;}
        to {right: 0px;}
      }

  
    .nav-menu.active {
        display: flex;
    }

    .nav-menu li {
        text-align: center;
    }

    .nav-menu li a {
        padding: 10px;
        /* font-size: 40px !important; */
        font-weight: 700 !important;
    }

    .mobile-menu-toggle {
        display: block;
    }

    .menu-toggle-btn {
        background: none;
        border: none;
        color: #fff;
        font-size: 24px;
        cursor: pointer;
        
    }
    .navbar-btn{
        display: none;
    }
}
@media (max-width: 1050px) {
    .nav-menu{
        display: none;
    }
    .Contact-from{
        display: block;
    }
    .card-box{
        width: 100%;
    }
    .form{
        width: 100%;
        padding: 0px;
    }
    .hero-form{
        padding: 20px 35px;
    }
    .main-footer{
        display: block;
        text-align: center;
    }
    .border-line2{
        display: block;
    }
    .menu-footer{
        display: block;
    }
    .footer-icon2{
        display: block;
    }
    .footer-icon2 i{
        color: #fff;
        font-size: 18px;
        padding: 10px;
    }
    .border-line2 {
        width: 100%;
        height: 1px;
        background: linear-gradient(216deg, rgb(18, 20, 55) 5%, rgb(255, 255, 255) 50%, rgb(18, 20, 55) 95%);
    }
    .menu-footer h1{
        font-size: 22px;
        font-family: "Poppins", sans-serif;
        color: #fff;
        font-weight: 400;
    }
    .navbar ul li a{
        padding: 16px;
        font-weight: 800 !important;
        font-size: 40px;
    }
    .footer-icon2 img{
        width: 50px;
        padding: 5px;
    }
    .menu-toggle-btn img{
        width: 55%;
    }
    .menu-close-btn{
        background: #080918;
        border: none;

    }
    .menu-close-btn img{
        width: 45%;
        margin-top: 10px;
    }
    .hero-section{
        height: 100vh;
    overflow: hidden;
    }
    .background-video{
        position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    }
    .Hero-textbox{
        text-align: center;
        width: 100%;
        padding: 0px;
        max-width: 100%;
        
    }
    :root{
        --grad1: #03a9f4;
        --grad2: #f441a5;
        --grad3: #8120f9;
        --grad4: #03a9f4;
    }
    
    .header-btn button {
        padding: 14px 45px;
        border-radius: 100px;
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        font-weight: 500;
        color: #fff;
        background: linear-gradient(90deg, var(--grad1), var(--grad2), var(--grad3), var(--grad4));
        background-size: 400%;
        z-index: 1;
        position: relative;
        border: none;
        cursor: pointer;
        overflow: hidden;
    }
    
    .header-btn button:hover {
        animation: animate 8s linear infinite;
    }
    
    @keyframes animate {
        0% {
            background-position: 0%;
        }
        100% {
            background-position: 400%;
        }
    }
    
    .header-btn button:before {
        content: '';
        position: absolute;
        top: -5px;
        left: -5px;
        right: -5px;
        bottom: -5px;
        z-index: 0;
        background: linear-gradient(90deg, var(--grad1), var(--grad2), var(--grad3), var(--grad4));
        background-size: 400%;
        border-radius: 100px;
        opacity: 0;
        transition: 0.5s;
    }
    
    .header-btn button:hover:before {
        filter: blur(20px);
        opacity: 0.6;
        animation: animate 8s linear infinite;
    
    }
    .header-btn{
        display: block;
        margin-top: 20px;
    }
  .Technology-text h1{
       font-size: 25px;
  }
  .Hero-textbox h1{
    font-size: 22px;
  }
  .Hero-textbox {
    bottom: 40px;
  }
}

@media (max-width: 650px) {
    .footer2{
        display: block;
        text-align: center;
    }
    .reserved2 h1{
        padding-top: 20px;
    }
    .main-card1{
        display: block;
    }
    .card1{
      width: auto;
      height: auto;
      padding: 25px 8px 15px 8px;
      margin-bottom: 15px;
    }
    .card1 p{
        font-size: 14px;
    }
    .card1 img{
        width: 14%;
    }
    .card-box{
        height: 100%;
        background-size: cover;
    }
    .main-card1{
        padding-bottom: 15px;
    }
}
@media (max-width: 1299px) {
    .animated-textbar {
      position: relative;
      padding: 41px 0;
      overflow: hidden;
    }
    .animated-textbar ul li {
      font-size: 30px;
      font-weight: 400;
    }
    .animated-textbar ul li::after {
      top: -19px;
    }
  }
  @media (max-width: 1050px) {
    .parallax-textbox2 h1{
        padding-left: 100px;
        font-size: 40px;
        max-width: 300px;
    }
    .parallax-textbox2 h2{
        padding-left: 100px;
        font-size: 15px;
        max-width: 250px;
        
    }
    .parallax-textbox2 p{
        padding-left: 100px;
        max-width: 288px;
        font-size: 15px;
    }
    .parallax-hand img{
        top: 400px;
        width: 36%;
    }
    .parallax-light img {
        top: 170px;
        right: 60px;
        width: 36%;
    }
    .parallax-textbox3 h2 {
        padding-left: 100px;
    }
    .parallax-textbox3 h1{
        padding-left: 100px;
    }
      .parallax-textbox3 p{
        padding-left: 100px;
    }
    .parallax-bubble2 img{
        bottom: auto;
    }
    .parallax-bubble img{
        bottom: auto;

    }
    .parallax-textbox4 h1 {
        padding-left: 120px;
    }
    .parallax-textbox4 h2 {
        padding-left: 120px;
        max-width: 310px;
        
    }
    .parallax-textbox4 p {
        padding-left: 120px;
        max-width: 385px;
    }
    .parallax-brain img {
        position: absolute;
        top: 90px;
        right: 110px;
        width: 40%;
    }
    
  }
  
  @media (max-width: 979px) {
    .animated-textbar {
      position: relative;
      padding: 31px 0;
      overflow: hidden;
    }
    .animated-textbar ul li {
      font-size: 26px;
      font-weight: 400;
    }
    .animated-textbar ul li::after {
      top: -19px;
    }
    .parallax-key img{
        right: 100px;
    }
  }

 @media (max-width: 875px) {
    .parallax-textbox{
        text-align: center;
    }
    .parallax-textbox h1{
       font-size: 35px;
    }
    .parallax-textbox p{
        font-size: 15px;
    }
    .parallax-image img{
        width: 100%;
    }
  }

    

  @media (max-width: 750px){
    .parallax-key img {
        position: absolute;
        top: 210px;
        right: 65px;
        width: 24%;
    }
    .parallax-bubble img {
        bottom: auto;
    }
    .parallax-textbox3 h1{
         padding-left: 70px;
    }
    .parallax-textbox3 h2{
        padding-left: 70px;
         
    }
    .parallax-textbox3 p{
        padding-left: 70px;
        max-width: 340px;
        font-size: 15px;

    }
    .parallax-textbox4 h1 {
        padding-left: 80px;
        font-size: 45px;
    }
    .parallax-textbox4 h2 {
        padding-left: 80px;
        font-size: 18px;
    }
    .parallax-textbox4 p {
        padding-left: 80px;
        font-size: 15px;
        max-width: 300px;
    }
    .parallax-hand-img img {
        top: 405px;
        width: 43%;
    } 
    .parallax-brain img {
        top: 176px;
        right: 80px;
        width: 40%;
    }
  }
  @media (max-width: 650px) {
    .parallax-textbox{
        text-align: center;
    }
    .parallax-image img{
        width: 100%;
    }
  }
  @media (max-width: 650px) {
    .parallax-textbox2 h1{
        padding-left: 50px;
        font-size: 30px;
        max-width: 200px;
    }
    .parallax-textbox2 h2{
        padding-left: 50px;
        font-size: 15px;
        max-width: 250px;
        
    }
    .parallax-textbox2 p{
        padding-left: 50px;
        max-width: 288px;
        font-size: 15px;
    }
    .parallax-hand img{
        top: 400px;
        width: 36%;
    }
    .parallax-light img {
        top: 170px;
        right: 60px;
        width: 36%;
    }
    .parallax-textbox3 h1{
      font-size: 40px;  
      padding-left: 50px; 
    }

    .parallax-textbox3 h2 {
        font-size: 18px;
        max-width: 300px;
      padding-left: 50px; 
    }

    .parallax-textbox3 p {
        font-size: 13px;
      padding-left: 50px; 
      max-width: 285px;
    }
    .parallax-bubble img{
        bottom: auto;
    }
    .parallax-textbox4 h1 {
       padding-left: 40px;
    }
    .parallax-textbox4 h2 {
       padding-left: 40px;    
       font-size: 16px;
       max-width: 250px;
    }
    .parallax-textbox4 p {
       padding-left: 40px;
    }
    .parallax-brain img {
        right: 60px;
    }
  }

  
  @media (max-width: 488px) {
    .parallax-textbox2 h1{
        padding-left: 25px;
        font-size: 25px;
        max-width: 200px;
    }
    .parallax-textbox2 h2{
        padding-left: 25px;
        font-size: 13px;
        max-width: 200px;
    
    }
    .parallax-textbox2 p{
        padding-left: 25px;
        max-width: 187px;
        font-size: 11px;
        line-height: 20px;
    }
    .parallax-hand img{
        top: 400px;
        width: 40%;
    }
    .parallax-light img {
            top: 248px;
            right: -5px;
            width: 45%;
        }
        .parallax-textbox h1{
            font-size: 30px;
        }
        .parallax-textbox p{
            font-size: 15px;
            padding-left: 10px;
            padding-right: 10px;
        }
        .parallax-textbox3 h1{
          padding-left: 20px;
        }
        .parallax-textbox3 h2{
          padding-left: 20px;
        }
        .parallax-textbox3 p{
          padding-left: 20px;
        }
        .parallax-key img {
            position: absolute;
            top: 204px;
            right: 8px;
            width: 30%;
        }
        .parallax-textbox4 h1 {
          padding-left: 20px;
        }
        .parallax-textbox4 h2 {
          padding-left: 20px; 
        }
        .parallax-textbox4 p {
          padding-left: 20px;
          line-height: 20px;
          max-width: 225px;
        }
        .parallax-brain img {
            top: 273px;
        }
        .parallax-brain img{
            right: 18px;
        }
    }
    

  @media (max-width: 375px) {
    .parallax-textbox3 h1{
   font-size: 25px;
    }
    .parallax-textbox3 h2{
        font-size: 15px;
        max-width: 245px;
    }
    .parallax-textbox3 p{
        font-size: 12px;
        line-height: 20px;
        max-width: 225px;
    }
    .parallax-key img {
        position: absolute;
        top: 156px;
        right: 8px;
        width: 31%;
    }
    .parallax-bubble2 img {
        bottom: 90px;
        width: 50%;
    }
    .parallax-bubble img {
        bottom: 130px;
        width: 54%;
        right: 34px;
    }
    .parallax-textbox4 p {
        font-size: 13px;
    }
    .parallax-textbox4 h1 {
        font-size: 28px;
    }
    .parallax-brain img {
        width: 47%;
        right: -4px;
    }
    .parallax-hand-img img {
        width: 50%;
    }
    }
  

    
  @media (max-width: 325px) {
    .parallax-textbox h1{
        font-size: 25px;
    }
    .parallax-textbox p{
        font-size: 12px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .parallax-textbox3 p {
        font-size: 10px;
        line-height: 20px;
        max-width: 197px;
    }
    .parallax-textbox3 h2 {
        font-size: 13px;
        max-width: 212px;
    }
    .parallax-key img {
        width: 37%;
    }
    .parallax-bubble img {
        bottom: 134px;
        width: 60%;
        right: 30px;
    }
    .parallax-bubble2 img {
        bottom: 104px;
        width: 56%;
        right: -10px;
    }
  }

