html {
  scroll-behavior: smooth;
}

* {
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.section {
  min-height: 100vh;
  min-height: 100dvh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100px;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
}

.navlinks img {
  width: 150px;
}

.navbar ul li {
  list-style: none;
  display: inline-flex;
}

.navbar ul li a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 16px;
}

.background-video {
  background-position: center;
  background-size: cover;
  min-width: 100vw;
  min-height: 100%;
  object-fit: cover;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

:root {
  --grad1: #03a9f4;
  --grad2: #f441a5;
  --grad3: #8120f9;
  --grad4: #03a9f4;
}

.navbar-btn button {
  padding: 14px 45px;
  border-radius: 100px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background: linear-gradient(
    90deg,
    var(--grad1),
    var(--grad2),
    var(--grad3),
    var(--grad4)
  );
  background-size: 400%;
  z-index: 1;
  position: relative;
  border: none;
  cursor: pointer;
  overflow: hidden;
}

.navbar-btn button:hover {
  animation: animate 8s linear infinite;
}

@keyframes animate {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

.navbar-btn button:before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: 0;
  background: linear-gradient(
    90deg,
    var(--grad1),
    var(--grad2),
    var(--grad3),
    var(--grad4)
  );
  background-size: 400%;
  border-radius: 100px;
  opacity: 0;
  transition: 0.5s;
}

.navbar-btn button:hover:before {
  filter: blur(20px);
  opacity: 0.6;
  animation: animate 8s linear infinite;
}

/* Contact from css */

.card-box {
  position: relative;
  background-image: url(../img/Shut.jpg);
  background-repeat: no-repeat;
  height: 680px;
  width: 50%;
}

.card-gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  content: "";
  background: linear-gradient(
    90deg,
    rgba(0, 5, 70, 0.7) 0%,
    rgba(0, 0, 0, 0.9) 100%
  );
}

.form {
  padding: 20px 35px 0px 30px;
  background-color: #f9f9f9;
  border-radius: 10px;
  position: relative;
  z-index: 2;
  width: 45%;
}

.form label {
  display: block;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="tel"],
.form select,
.form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.w-label {
  width: 104%;
}

.form input[type="checkbox"] {
  margin-right: 10px;
}

.form button[type="submit"] {
  padding: 14px 35px;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background-color: #0067ff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form button[type="submit"]:hover {
  background-color: #0067ff;
}

.Contact-from {
  display: flex;
  /* align-items: center; */
}

.card-box h2 {
  font-size: 30px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #ffff;
  padding-left: 30px;
  margin-top: 50px;
  margin-bottom: 20px;
  position: relative;
  display: inline-block;
}

.card-box h2::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 32px;
  width: 25%;
  height: 9px;
  background-color: #0063ff;
}

.main-card1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 36px;
  padding-right: 36px;
  padding-top: 18px;
  gap: 20px;
}

.card1 {
  width: 270px;
  height: 220px;
  text-align: center;
  background-color: #130a1fa6;
  border-radius: 14px;
  border: solid 1px #fdfdfd40;
  padding: 25px 8px 0px 8px;
}

.card1:hover {
  background: linear-gradient(
    216deg,
    rgba(15, 28, 122, 1) 0%,
    rgba(14, 2, 31, 1) 100%
  );
}

.card1 img {
  width: 26%;
}

.card1 h1 {
  font-size: 18px;
  color: #f3f3f3;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-top: 5px;
}

.card1 p {
  font-size: 16px;
  color: #fdfdfd;
  font-family: "Poppins", sans-serif;
  margin-top: 15px;
  line-height: 25px;
}

.zindex {
  position: relative;
  z-index: 5;
}

/* -------------Footer-------- */
.footer-box {
  background-color: #121437;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 80px 0px 80px;
  width: -webkit-fill-available;
}

.footerlink img {
  width: 170px;
}

.main-footer ul li {
  list-style: none;
  display: inline-flex;
}

.main-footer ul li a {
  text-decoration: none;
  padding: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 16px;
}

.footer-icon {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.footer-icon i {
  color: #fff;
  font-size: 18px;
  padding: 10px;
}

.footer2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 80px 25px 80px;
}

.reserved h1 a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding: 7px;
}

.reserved2 h1 {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.border-line {
  width: 100%;
  height: 2px;
  background: linear-gradient(
    216deg,
    rgb(18, 20, 55) 5%,
    rgb(255, 255, 255) 50%,
    rgb(18, 20, 55) 95%
  );
}

.border-line2 {
  display: none;
}

.menu-footer {
  display: none;
}

.footer-icon2 {
  display: none;
}

.hero-section {
  position: relative;
  overflow: hidden;
  background-image: url("../img/Timeline\ 1_01_00_08_02.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden !important;
}

.Hero-textbox {
  position: absolute;
  color: #fff;
  z-index: 999999999;
  bottom: 12px;
  padding-left: 40px;
  max-width: 420px;
  line-height: 40px;
  z-index: 1;
}

.Hero-textbox h1 {
  font-family: "Poppins", Sans-serif;
  font-size: 35px;
  font-weight: 600;
}

.Hero-textbox p {
  font-family: "Poppins", Sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.Technology {
  background-color: #121437;
  position: relative;
  /* z-index: 999999999999999; */
  min-height: unset;
}

.Technology-text h1 {
  color: #ffffff;
  font-family: "Poppins", Sans-serif;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 2px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.animated-textbar {
  position: relative;
  padding: 51px 0;
  overflow: hidden;
}

.animated-textbar .textbar-background {
  /* background: url("../img/common/running-bg.jpg"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.animated-textbar .textbar-background::before {
  background-color: var(--bisstek-color-primary);
  mix-blend-mode: multiply;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.animated-textbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 60px;
}

.animated-textbar ul li {
  display: inline-block;
  white-space: nowrap;
  font-size: 24px;
  color: var(--rr-color-common-white);
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  font-size: 100px;
  line-height: 1;
}

.animated-textbar ul li::after {
  content: "";
  background: url(../img/icons/stroke-star.png) no-repeat;
  width: 60px;
  height: 60px;
  display: block;
  position: absolute;
  top: 20px;
  left: -55px;
}

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.animated-textbar .text-stroke {
  color: var(--rr-color-common-white);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--rr-color-common-white);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-animated="true"] .scroller__inner.inner-2 {
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, reverse) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 80s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 100s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

.scroller-img {
  width: 180px;
}

.header-btn {
  display: none;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Poppins", Sans-serif;
}

.section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: visible;
}

.parallax-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  z-index: -1;
  /* Background is behind the content */
  opacity: 0;
  /* Start with background invisible */
  transition: opacity 1s ease-in-out;
}

.parallax-bg > div {
  background-size: cover;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.parallax-content {
  display: flex;
  justify-content: start;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  margin: auto;
  position: relative;
}

.parallax-content > div {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 100%;
  width: 80%;
  position: static;
  margin: auto;
}

.parallax-textbox {
  z-index: 15;
  width: 48%;
}

.parallax-textbox h1 {
  font-size: 59px;
  color: #fff;
  font-family: "Poppins", Sans-serif;
  font-weight: 700;
  margin-bottom: 20px;
}

.parallax-textbox h2 {
  color: #fff;
  font-family: "Poppins", Sans-serif;
  line-height: 1.3;
  position: relative;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}

.parallax-textbox p {
  /* padding-top: 50px; */
  font-size: 18px;
  color: #fff;
  font-family: "Poppins", Sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

.parallax-flower {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  z-index: -1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.parallax-light {
  position: absolute;
  top: -8%;
  right: 0;
  width: 50%;
}

.parallax-hand {
  position: absolute;
  top: 55%;
  right: 0;
  width: 46%;
}

.parallax-key {
  position: absolute;
  top: 20%;
  right: 25%;
  width: 24%;
  z-index: 5;
}

.parallax-bubble1 {
  position: absolute;
  bottom: -5%;
  left: 23%;
  width: 48%;
  z-index: 4;
}

.parallax-bubble2 {
  position: absolute;
  bottom: 2%;
  right: 0;
  width: 45%;
}

.parallax-bubble3 {
  position: absolute;
  bottom: 6%;
  right: 40px;
  width: 35%;
}

.parallax-brain {
  position: absolute;
  top: 17%;
  right: 16%;
  width: 35%;
}

.parallax-hand-img {
  position: absolute;
  top: 56%;
  right: 0%;
  width: 51%;
}

.parallax-rocket {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 7%;
  width: 60%;
}

.parallax-smoke {
  position: absolute;
  bottom: 0%;
  /* transform: translateY(-50%); */
  right: 7%;
  width: 70%;
  z-index: 1;
}

.parallax-world {
  position: absolute;
  bottom: 124px;
  left: 50%;
  width: 161%;
  transform: translate(-45%, 58%);
}

.parallax-world img {
  transform-origin: bottom center !important;
  width: 100%;
}

.parallax-lights {
  position: absolute;
  top: 45%;
  right: 9%;
  transform: translate(-50%, -50%);
  width: 27%;
}

.parallax-booot {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(22%, -11%);
  width: 32%;
}

#sec-1 .parallax-textbox {
  /* width: auto; */
  /* text-align: center; */
  margin: auto;
}

.slider-section {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  /* align-items: center; */
  background-size: cover;
  background-position: center;
  padding: 20px 0px 20px 100px;
  box-sizing: border-box;
  transition: background-color 0.6s ease;
  overflow: hidden;
}

.slider-section .parallax-bg > div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(150deg, #0000006e 0%, #000000 100%);
  pointer-events: none;
  z-index: 0;
}

.content-div {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 0 100px;
  gap: 20px;
}

.your-slider {
  /* width: 80%; */
  width: 60%;
  max-width: 900px;
  position: static !important;
  height: 100%;
}

.slick-list {
  /* padding: 100px 19px; */
  height: 100%;
  overflow: hidden;
  /* padding-right: 100px; */
}

.slick-list .slick-track {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
  /* padding-right: 100px; */
}

.your-slider .slick-slide {
  position: relative;
  z-index: 1;
  overflow: hidden;
  text-align: center;
  height: 335px;
  /* width: 248px !important; */
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  transition: transform 0.6s ease;
  margin: 0 20px;
  cursor: pointer;
}

.your-slider .slick-slide::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(150deg, #0000006e 0%, #00000085 100%);
  z-index: 2;
  pointer-events: none;
}

.your-slider h3 {
  position: relative;
  z-index: 3;
  font-size: 24px;
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.your-slider .slick-slide.active {
  transform: scale(1.16);
  z-index: 1;
}

.your-slider h3 {
  font-size: 25px;
  color: #fff;
  position: absolute;
  bottom: 13px;
  left: 15px;
  text-align: left;
}

.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  bottom: -50px;
  display: block;
  width: 30px;
  height: 30px;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
  z-index: 1;
}

.slick-prev {
  left: 70px;
  transform: translatey(237px);
}

.slick-next {
  left: 120px;
  transform: translatey(237px);
}

.slick-prev:before,
.slick-next:before {
  font-size: 35px;
  color: #fff;
}

.slick-dots {
  position: absolute;
  left: 15px;
  top: 55%;
  width: auto;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
  list-style: none;
  width: 30px;
  gap: 15px;
}

.slick-dots::before {
  content: "";
  position: absolute;
  top: 50%;
  height: calc(100% - 20px);
  max-height: 90vh;
  width: 1px;
  background: #b0b7d0;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.slick-dots li {
  margin: 5px 0;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slick-dots li button {
  font-size: 0;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: transparent;
  opacity: 1;
  transition: background-color 0.3s ease;
  background-color: #b0b7d0;
  border: 0;
}

.slick-dots li.slick-active button {
  background: #b0b7d0;
  color: #fff;
  position: relative;
  width: 23px;
  height: 23px;
}

.slick-dots li.slick-active button:before {
  content: attr(data-slide);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 10px;
  color: #fff !important;
}

.mainHeading {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  /* max-width: 350px; */
  text-align: left;
}

.title2 {
  font-size: 28px;
  font-weight: 800;
  color: #fff;
}

.description {
  font-size: 16px;
  font-weight: 380;

  line-height: 25px;
  color: #fff;
}

.description2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  color: #fff;
}

.menu-close-btn {
  width: 34%;
  background-color: #080918;
  border: none;
}

/* Basic styles for desktop */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100px;
  position: absolute;
  width: -webkit-fill-available;
  z-index: 9999;
}

.navlinks img {
  width: 160px;
}

.nav-menu {
  display: flex;
  gap: 20px;
}

.nav-menu li {
  list-style: none;
}

.nav-menu li a {
  text-decoration: none;
  padding: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 16px;
}

.navbar-btn .contact-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

/* Mobile styles */
.mobile-menu-toggle {
  display: none;
}

.mobile-menu-close {
  display: none;
  z-index: 99999;
}

:root {
  --grad1: #03a9f4;
  --grad2: #f441a5;
  --grad3: #8120f9;
  --grad4: #03a9f4;
}

.header-btn button {
  padding: 14px 45px;
  border-radius: 100px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background: linear-gradient(
    90deg,
    var(--grad1),
    var(--grad2),
    var(--grad3),
    var(--grad4)
  );
  background-size: 400%;
  z-index: 1;
  position: relative;
  border: none;
  cursor: pointer;
  overflow: hidden;
}

.header-btn button:hover {
  animation: animate 8s linear infinite;
}

@keyframes animate {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

.header-btn button:before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: 0;
  background: linear-gradient(
    90deg,
    var(--grad1),
    var(--grad2),
    var(--grad3),
    var(--grad4)
  );
  background-size: 400%;
  border-radius: 100px;
  opacity: 0;
  transition: 0.5s;
}

.header-btn button:hover:before {
  filter: blur(20px);
  opacity: 0.6;
  animation: animate 8s linear infinite;
}

.border-line2 {
  width: 100%;
  height: 1px;
  background: linear-gradient(
    216deg,
    rgb(18, 20, 55) 5%,
    rgb(255, 255, 255) 50%,
    rgb(18, 20, 55) 95%
  );
}

.menu-footer h1 {
  font-size: 16px;
  color: #fff;
}

.footer-icon2 {
  width: 33px;
  gap: 9px;
  text-align: center;
  justify-content: center;
}

.arrow {
  position: absolute;
  display: flex;
  justify-content: space-between;
  bottom: 30px;
  left: 100px;
  gap: 20px;
  z-index: 20;
}

.arrow i {
  font-size: 1.5rem;
  color: white;
  pointer-events: auto;
  padding: 7px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card1.active {
  background: linear-gradient(
    216deg,
    rgba(15, 28, 122, 1) 0%,
    rgba(14, 2, 31, 1) 100%
  );
}

.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

/* Loader Styles */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

#loader-video {
  width: 100%;
  max-height: 100%;
  object-fit: fill;
  object-fit: cover;
}

body.loading {
  overflow: hidden;
}

@media (max-width: 1100px) {
  #sec-1 .parallax-textbox {
    width: 91%;
  }

  .border-line2 {
    display: block;
  }

  .menu-footer {
    display: block;
  }

  .footer-icon2 {
    display: flex;
  }

  .content-div {
    padding-left: 0;
    padding-right: 60px;
  }

  .navbar {
    padding: 15px;
  }

  .nav-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #080918;
    padding: 20px 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: -1000px;
    animation: shownavbar 0.4s forwards linear;
  }

  @keyframes shownavbar {
    from {
      right: -500px;
    }

    to {
      right: 0px;
    }
  }

  .nav-menu.active {
    display: flex;
  }

  .nav-menu li {
    text-align: center;
  }

  .nav-menu li a {
    padding: 10px;
    font-size: 24px !important;
    font-weight: 700 !important;
  }

  .mobile-menu-toggle {
    display: block;
  }

  .menu-toggle-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    width: 50%;
  }

  .navbar-btn {
    display: none;
  }
}

@media (max-width: 992px) {
}

@media (max-width: 767px) {
  .parallax-content {
    justify-content: end;
    align-items: end;
  }
  .parallax-textbox {
    width: 70%;
  }

  .parallax-textbox h2 {
    font-size: 20px;
  }

  .parallax-textbox h1 {
    font-size: 50px;
  }

  .parallax-textbox p {
    font-size: 16px;
  }

  .content-div {
    padding-left: 0px;
    padding-right: 12px;
    justify-content: flex-end;
  }

  .animated-textbar ul {
    gap: 10px;
  }

  .scroller-img {
    width: 110px;
  }

  .slick-dots {
    gap: 9px;
  }

  .Contact-from {
    display: block;
  }

  .card-box {
    width: 100%;
  }

  .form {
    width: 100%;
    width: calc(100% - 70px);
    padding: 20px 35px 20px 30px;
  }

  .main-footer {
    display: block;
    text-align: center;
  }

  .Hero-textbox {
    text-align: center;
    bottom: 15px;
    padding: 0px;
    max-width: none;
    width: 100%;
  }

  .Hero-textbox h1 {
    font-size: 22px;
  }

  .Hero-textbox p {
    font-size: 18px;
  }

  .header-btn {
    display: block;
  }

  .parallax-hand {
    width: 55%;
    top: 70%;
  }

  .parallax-light {
    right: -25px;
    width: 55%;
  }

  .parallax-key {
    right: 8%;
    width: 35%;
  }

  .parallax-bubble1 {
    left: 34%;
    width: 45%;
  }

  .parallax-bubble2 {
    width: 45%;
  }

  .parallax-bubble3 {
    width: 40%;
  }

  .parallax-hand-img {
    width: 65%;
    top: 78%;
  }

  .parallax-brain {
    width: 40%;
  }

  .parallax-flower {
    width: 80%;
  }

  .parallax-rocket {
    width: 70%;
    right: -40px;
  }

  .parallax-smoke {
    width: 38%;
  }

  .parallax-booot {
    width: 38%;
    top: 65%;
  }

  .parallax-lights {
    width: 26%;
    right: 0;
  }

  .arrow {
    display: none !important;
  }
}

@media (max-width: 576px) {
  .parallax-textbox h1 {
    font-size: 37px;
  }

  .parallax-textbox p {
    font-size: 15px;
  }

  .parallax-textbox h2 {
    font-size: 22px;
  }

  .slider-section {
    padding-left: 50px;
    display: flex;
    flex-direction: column-reverse;
  }

  .mainHeading {
    font-size: 18px;
  }

  .title2 {
    font-size: 22px;
  }

  .description {
    font-size: 14px;
    line-height: 20px;
  }

  .description2 {
    font-size: 11px;
    line-height: 23px;
  }

  .content-div {
    gap: 6px;
  }

  .parallax-content > div {
    margin: 0;
    padding-left: 15px;
  }

  .parallax-hand .slick-dots {
    left: 9px;
    top: 54%;
  }

  .reserved h1 a {
    padding: 0px;
    font-size: 10px;
  }

  .reserved2 h1 {
    font-size: 10px;
  }

  .parallax-light {
    top: 16%;
  }

  .parallax-key {
    top: 20%;
  }

  .parallax-brain {
    width: 35%;
    right: 24%;
  }

  .parallax-booot {
    transform: translate(11%, -26%);
  }

  .parallax-hand-img {
    width: 82% !important;
  }

  .your-slider {
    width: 100%;
    height: 100%;
    margin-top: 20px;
  }

  .parallax-smoke {
    width: 67%;
    top: 68%;
  }

  .parallax-world {
    transform: translate(-48%, 50%);
  }
  .menu-toggle-btn {
    font-size: 0;
  }
  .main-footer ul li a {
    padding: 9px;
  }

  .hero-section {
    width: 100%;
  }

  .parallax-content > div {
    margin: 0;
    padding-left: 15px;
    width: 100%;
  }

  .footer2 {
    padding: 10px 10px;
  }

  .main-card1 {
    display: block;
    padding: 0px 0px 0px 0px;
    text-align: -webkit-center;
  }

  .card1 img {
    width: 18%;
  }

  .card1 h1 {
    font-size: 16px;
  }

  .card1 p {
    font-size: 14px;
  }

  .card1 {
    height: 163px;
  }

  .card-box {
    height: 100%;
  }

  .card1 {
    margin-top: 20px;
  }

  .form {
    margin-top: 20px;
  }

  .parallax-textbox h1 {
    font-size: 32px;
  }

  .parallax-textbox {
    width: 100%;
  }

  .parallax-textbox p {
    font-size: 16px;
  }

  .parallax-hand {
    width: 68%;
    top: 52%;
  }

  .parallax-light {
    right: 17px;
    width: 67%;
    top: 14%;
  }

  .parallax-key {
    right: 4%;
    width: 43%;
  }

  .parallax-bubble1 {
    top: 45%;
    width: 49%;
  }

  .parallax-bubble2 {
    top: 46%;
    width: 48%;
  }
  .parallax-bubble3 {
    top: 53%;
  }

  .parallax-brain {
    width: 53%;
    top: 28%;
  }

  .parallax-hand-img {
    width: 52%;
    top: 54%;
  }

  .parallax-rocket {
    width: 87%;
    right: -14%;
    top: 73%;
  }

  .parallax-booot {
    width: 62%;
    top: 48%;
  }

  .parallax-lights {
    width: 37%;
    top: 30%;
    right: 149px;
  }

  .mainHeading {
    /* font-size: 11px; */
  }

  .title2 {
    /* font-size: 15px; */
  }

  .description {
    /* font-size: 9px; */
    /* line-height: 14px; */
  }

  .description2 {
    font-size: 9px;
    line-height: 14px;
  }

  .parallax-smoke {
    width: 97%;
    top: 53%;
  }
  .your-slider .slick-slide {
    height: 222px !important;
  }
  .your-slider h3{
    font-size: 18px;
  }
}
