*{
    padding: 0px;
    margin: 0px;

}
body{
    background-color: #121437;
    font-family: "Poppins", sans-serif;

}
.footer-box{
    position: absolute;
    width: 100%;
}
.main-textbox{
    padding-top: 180px;    
}
.textbox{
    padding: 0px 120px;
    text-align: justify;
}
.main-textbox h2{
 text-align: center;
 font-size: 27px;
 margin-bottom: 40px;
 color: #fff;
 font-weight: 700;
}
h1{
    margin: 40px 0 20px 0;
}
.span1{
font-size: 28px;
color: #fff;
font-weight: 700;
line-height: 35px;
}
.textbox p{
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 20px;
}
.textbox span a{
    color: #fff;
}
@media (max-width: 767px) {
    .textbox{
        padding-left: 50px;
    }
}
